<div style="margin-top: 0px" class="example-container mat-elevation-z8">
  <div
    style="margin-right: auto; margin-left: auto; width: 60%; margin-top: 10px"
  >
    <mat-form-field style="width: 100%">
      <mat-label>Form id</mat-label>
      <input
        matInput
        [(ngModel)]="id"
        type="number"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>
    <div style="width: 80%; margin-left: auto; margin-right: auto">
      <button
        style="width: 100%"
        (click)="findForm()"
        mat-raised-button
        color="accent"
      >
        Find
      </button>
    </div>
  </div>
  <br />
  <div class="example-table-container">
          <table
            style="box-shadow: none; width: 90%"
            mat-table
            [dataSource]="data?.form_field_values"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element">
                  {{ element.id }}
                </td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let element"> {{getField(element.form_field_id)?.title}} </td>
            </ng-container>
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef>Value</th>
              <td mat-cell *matCellDef="let element">
                  <!-- {{ element.value }} -->
                  <mat-form-field style="width: 100%">
                    <input *ngIf="getField(element.form_field_id)?.type=='text'" matInput [(ngModel)]="element.value" #input/>
                    <input *ngIf="getField(element.form_field_id)?.type=='number'" matInput type="number" [(ngModel)]="element.value" #input/>
                    <ng-container *ngIf="getField(element.form_field_id)?.type=='date'">
                      <input matInput [(ngModel)]="element.value" [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </ng-container>
                  </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef>Created</th>
              <td mat-cell *matCellDef="let element">
                {{ element.created_at }}
              </td>
            </ng-container>
            <ng-container matColumnDef="updated_at">
              <th mat-header-cell *matHeaderCellDef>Updated</th>
              <td mat-cell *matCellDef="let element">
                {{ element.updated_at }}
              </td>
            </ng-container>
            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef>UPDATE</th>
                <td mat-cell *matCellDef="let element">
                  <button style="width: 100%" (click)="updateForm()" mat-raised-button color="accent">
                  Update
                </button>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>

          </table>
  </div>
  <br /><br />
  <mat-divider></mat-divider>
  <br /><br />
  <div style="margin-right: auto; margin-left: auto; width: 60%; margin-top: 10px;">
    <mat-form-field *ngFor="let four of fields; let i = index" style="width: 100%;">
        <mat-label>{{four.title}}</mat-label>
          <input *ngIf="four?.type=='text'" matInput [(ngModel)]="newDatafield[i]" #input/>
          <input *ngIf="four?.type=='number'" matInput type="number" [(ngModel)]="newDatafield[i]" #input/>
          <ng-container *ngIf="four?.type=='date'">
            <input matInput [(ngModel)]="newDatafield[i]" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </ng-container>
      </mat-form-field> 
      <button style="width: 100%" (click)="createForm()" mat-raised-button color="accent">
        Create new
      </button>
</div>
  <br /><br />
  <mat-divider></mat-divider>
  <br /><br />
  <div>
    <button style="width: 100%" (click)="deleteForm()" mat-raised-button color="warning">
        Delete this form
      </button>
    <!-- <div style="width: 80%; margin-left: auto; margin-right: auto">
      <button
        style="width: 100%"
        (click)="newForm()"
        mat-raised-button
        color="accent"
      >
        New
      </button>
    </div> -->
    <!-- <div style="width: 80%; margin-left: auto; margin-right: auto">
      <button
        style="width: 100%"
        (click)="deleteForm()"
        mat-raised-button
        color="accent"
      >
        Delete This
      </button>
    </div>
  </div> -->
</div>
